<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/icon.png" />
    <script
      src="https://kit.fontawesome.com/f2ead6d816.js"
      crossorigin="anonymous"
    ></script>
    <title>Clicks For Kicks</title>
  </head>

  <body data-theme="">
    <button class="theme-button" id="themeButton">
      <i class="fa-solid fa-moon" id="nightDayIcon"></i>
    </button>

    <a href="https://wa.me/6282151299144" target="_blank" class="whatsapp-button">
      <i class="fa-brands fa-whatsapp"></i>
    </a>

    <header>
      <div class="app-bar">
        <div class="headings">
          <div class="logo">
            <img src="images/CFK_LOGO.png" alt="" />
          </div>
          <button id="hamburger">☰</button>
        </div>
        <nav id="drawer">
          <ul class="nav_list">
            <li class="nav_list_item"><a href="#">Home</a></li>
            <li class="nav_list_item"><a href="#aboutSection">Tentang</a></li>
            <li class="nav_list_item"><a href="#serviceSection">Layanan</a></li>
            <li class="nav_list_item"><a href="#orderSection">Pesanan</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section id="mainSection">
        <article>
          <h1>
            Tampil Lebih <span>Baik</span>, Sepatu Lebih <span>Bersih!</span>
          </h1>
          <p>
            Bersama <strong>Clicks For Kicks</strong> rasakan transformasi
            instan pada penampilan Anda!
          </p>
          <a href="#aboutSection" class="learn-more-btn">Selanjutnya</a>
        </article>
        <img
          src="images/young man online shopping for sneakers on his smartphone.png"
          alt=""
        />
      </section>

      <section id="aboutSection">
        <h1>Tentang Kami</h1>
        <div class="about-container">
          <img src="images/young people in the aprons with gadgets.png" alt="" />
        <article>
          <p>
            <strong>Clicks For Kicks</strong> merupakan project yang memanfaatkan teknologi digital dengan industri fashion terkhususnya sepatu, dan fotografi untuk mengatasi masalah dan peluang dalam industri tersebut. Project ini muncul sebagai solusi terhadap jadwal mahasiswa yang padat, menyebabkan kurangnya waktu untuk menjaga kebersihan sepatu. Berikut beberapa latar
            belakang yang menjadi dasar project <strong>Clicks For Kicks</strong>:
          </p>
          <ul>
            <li>Tren pembelian online</li>
            <li>Peningkatan persaingan</li>
            <li>Kesulitan menemukan platform</li>
            <li>Peningkatan penggunaan teknologi</li>
            <li>Peluang dalam Customization</li>
            <li>Peningkatan Kesadaran Merek</li>
          </ul>
        </article>
        </div>
      </section>

      <section id="serviceSection">
        <h1>Layanan</h1>
        <div class="services-card-container">

          <div class="services-card limited">
            <h5>Limited</h5>
            <h3 class="tier">On The Spot</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Pencucian cepat</li>
              <li><i class="fa-solid fa-check"></i>Proses pencucian langsung ditempat</li>
              <li><i class="fa-solid fa-check"></i>Terbatas hanya di<span style="font-weight: bold; margin-left: .25rem;">Technobition 3.0</span></li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 15.000,-</h3>
          </div>

          <div class="services-card popular">
            <h5>Popular</h5>
            <h3 class="tier">Regular Cleaning</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Proses pencucian standar</li>
              <li><i class="fa-solid fa-check"></i>Upper</li>
              <li><i class="fa-solid fa-check"></i>Midsole</li>
              <li><i class="fa-solid fa-check"></i>Outsole</li>
              <li><i class="fa-solid fa-check"></i>Proses 1 hari</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 25.000,-</h3>
          </div>

          <div class="services-card">
            <h3 class="tier">Deep Cleaning</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Proses pencucian mendalam</li>
              <li><i class="fa-solid fa-check"></i>Upper</li>
              <li><i class="fa-solid fa-check"></i>Midsole</li>
              <li><i class="fa-solid fa-check"></i>Outsole & Insole</li>
              <li><i class="fa-solid fa-check"></i>Tongue & laces</li>
              <li><i class="fa-solid fa-check"></i>Proses 2-3 hari</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 30.000,-</h3>
          </div>

          <div class="services-card">
            <h3 class="tier">All White Cleaning</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Pencucian khusus sepatu putih</li>
              <li><i class="fa-solid fa-check"></i>Include Unyellowing</li>
              <li><i class="fa-solid fa-check"></i>Proses 3-5 hari</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 35.000,-</h3>
          </div>

          <div class="services-card">
            <h3 class="tier">Woman & Kids</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Pencucian sepatu ukuran lebih kecil</li>
              <li><i class="fa-solid fa-check"></i>Proses lebih cepat & praktis</li>
              <li><i class="fa-solid fa-check"></i>Proses 1 hari</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 20.000,-</h3>
          </div>

          <div class="services-card">
            <h3 class="tier">Sandals Cleaning</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Pencucian khusus sandal</li>
              <li><i class="fa-solid fa-check"></i>Proses lebih cepat & praktis</li>
              <li><i class="fa-solid fa-check"></i>Proses 6 jam</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 15.000,-</h3>
          </div>

          <div class="services-card">
            <h3 class="tier">Unyellowing</h3>
            <ul>
              <li><i class="fa-solid fa-check"></i>Proses memutihkan kembali sepatu putih yang mulai menguning</li>
            </ul>
            <h3 class="pricing"><span>IDR</span> 10.000,-</h3>
          </div>
          
        </div>
      </section>

      <section id="orderSection">
        <h1>Pantau Pesanan Anda</h1>
        <div class="search-input">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            placeholder="Cari ID pesanan anda..."
            maxlength="6"
            id="search"
          />
        </div>
        <div class="data-list-container" id="dataListContainer">
          <div class="search-empty-state" id="searchEmptyState">
            <img src="images/pink sneakers floating.png" alt="" />
            <h1>Tidak menemukan pesanan?</h1>
            <p>
              Apabila anda tidak menemukan pesanan anda, harap laporkan kepada
              kasir terdekat!
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="social-media">
        <h2>Sosial Media Kami</h2>
        <div class="social-media-list">
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
      <div class="copyright">
        <p>Clicks For Kicks ©2023 - All Right Reserved</p>
      </div>
    </footer>
  </body>
</html>
