:root,
[data-theme='light'] {
  --main: white;
  --main-75: rgba(255, 255, 255, 0.75);
  --secondary: #1f1f1f;
  --accent-color: #18c893;
  --border-color: rgb(173, 210, 216, 0.25);
}

[data-theme='dark'] {
  --main: #1f1f1f;
  --main-75: #1f1f1fb8;
  --secondary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  background-color: var(--main);
  transition: 0.3s;
}

body {
  min-height: 125vh;
  background-color: var(--main);
  transition: 0.3s;
}

.theme-button {
  width: 50px;
  padding: 1.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondary);
  top: 100px;
  right: -5px;
  z-index: 90;
  aspect-ratio: 1/1;
  border-radius: 5px 0 0 5px;
}

.theme-button i {
  color: var(--main);
  font-size: 24px;
  margin-right: 5px;
}

.whatsapp-button {
  font-size: clamp(30px, 2.5vw, 800px);
  background-color: #2ad04a;
  position: fixed;
  z-index: 200;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.whatsapp-button i {
  color: white;
}

a,
button,
input,
textarea {
  min-width: 44px;
  min-height: 44px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-top: 7.5rem;
  gap: 2.5rem;
}

main section {
  width: 90%;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
  scroll-margin: 6.5rem;
}

/*App Bar*/

.app-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background-color: var(--main-75);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.headings {
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  min-width: 180px;
  padding: 0.5rem;
  border-radius: 5px;
}

.logo img {
  width: 100%;
}

#drawer ul {
  display: flex;
  list-style: none;
}

#drawer li {
  margin-left: 1.5rem;
}

#drawer li a {
  font-weight: bold;
  color: var(--secondary);
  text-decoration: none;
  font-size: clamp(12px, 1.25vw, 800px);
  transition: 0.3s;
}

#drawer li a:hover {
  color: var(--accent-color);
}

#hamburger {
  display: none;
}

/*Main Section*/

#mainSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #00815a, #00ff94);
}

#mainSection img {
  width: 100%;
}

#mainSection article {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#mainSection article h1,
#mainSection h1 span {
  color: white;
  font-size: clamp(24px, 3vw, 800px);
}

#mainSection article p,
#mainSection p strong {
  color: white;
  font-size: clamp(14px, 1.5vw, 800px);
  text-align: justify;
  margin-top: 1rem;
}

.learn-more-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  font-size: clamp(20px, 1.5vw, 800px);
  background-color: white;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  transition: 0.3s;
}

.learn-more-btn:hover {
  background-color: var(--accent-color);
  color: white;
}

/*About Section*/

#aboutSection h1 {
  color: var(--secondary);
  margin-bottom: 0.5rem;
  font-size: 24px;
  text-align: center;
}

.about-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.about-container img {
  width: 80%;
  min-width: 00px;
  padding: 1rem 1vw;
}

.about-container article p {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
  font-size: clamp(14px, 1.15vw, 800px);
  text-align: justify;
  margin-bottom: 1rem;
}

.about-container article p,
.about-container article p strong {
  color: white;
}

.about-container article ul {
  margin-top: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about-container article ul li {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--secondary);
  font-weight: bold;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: white;
}

/*Services Section*/

#serviceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-card-container {
  margin: 2rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.services-card {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
}

.services-card.popular {
  border: 2px solid rgb(236, 50, 109);
  background-color: rgba(255, 0, 68, 0.075);
}

.services-card.popular h5 {
  background-color: rgb(255, 54, 121);
  color: white;
  padding: 0.5rem 0.75rem;
  margin-top: -2rem;
  margin-bottom: 0.5rem;
  border-radius: 50px;
}

.services-card.limited {
  border: 2px solid rgb(43, 199, 207);
  background-color: rgba(0, 255, 221, 0.075);
}

.services-card.limited h5 {
  background-color: rgb(43, 199, 207);
  color: white;
  padding: 0.5rem 0.75rem;
  margin-top: -2rem;
  margin-bottom: 0.5rem;
  border-radius: 50px;
}

.services-card .tier {
  font-size: 24px;
  text-align: center;
}

.services-card ul {
  width: 100%;
  min-height: 120px;
  margin-top: 0.5rem;
  list-style: none;
}

.services-card ul li {
  display: flex;
}

.services-card ul li i {
  color: rgb(22, 208, 22);
}

.services-card .pricing {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 22px;
  color: white;
  background-color: var(--accent-color);
  border-radius: 50px;
}

.services-card.popular .pricing {
  background-color: rgb(255, 54, 121);
}

.services-card.limited .pricing {
  background-color: rgb(43, 199, 207);
}

.services-card .pricing span {
  font-weight: normal;
  font-size: 14px;
  color: white;
  background-color: transparent;
}

.services-card li .fa-check {
  margin-right: 0.5rem;
}

.data-list-card {
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

/*Orders Section*/

#orderSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#orderSection h1 {
  text-align: center;
}

#orderSection .search-input {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
  background-color: white;
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  justify-content: center;
  align-items: center;
}

.search-input .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--accent-color);
  height: 66%;
  padding-right: 1rem;
  margin-right: 1rem;
  color: var(--accent-color);
}

.search-input input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

.data-list-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-list-card {
  width: 100%;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
}

.data-list-card h3 {
  border-bottom: 2px solid var(--border-color);
  padding: 0 1rem 1rem;
}

.data-list-card .order-detail {
  margin: 1rem;
}

.order-detail table {
  width: 100%;
}

.order-detail tbody {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.order-detail tr {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.25fr 5fr;
  gap: 0.5rem;
}

.order-detail td {
  display: flex;
  align-items: baseline;
}

.order-progress,
.payment-status {
  background-color: lightgray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.35rem;
}

.search-empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.search-empty-state img {
  width: 15%;
  min-width: 150px;
}

.search-empty-state h1,
.search-empty-state p {
  text-align: center;
}

.search-empty-state h1 {
  margin-top: 1rem;
  color: var(--accent-color);
}

.search-empty-state p {
  font-size: 14px;
  margin: 0.5rem 0;
}

.search-empty-state span {
  font-size: 12px;
  text-align: center;
  margin: 0.5rem 0;
  opacity: 60%;
}

.search-empty-state.hide {
  display: none;
}

/*Footer*/

footer {
  width: 100%;
  min-height: 10rem;
  background-color: #151515;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  justify-items: center;
  align-items: end;
  margin-top: 3rem;
  text-align: center;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

footer h2,
.social-media-list i {
  color: white;
}

.social-media-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.social-media-list i {
  font-size: clamp(24px, 2vw, 800px);
}

.social-media-list a:hover {
  scale: 110%;
}

.copyright p {
  color: white;
  opacity: 50%;
}

/* Loader */

#loader.hidden {
  opacity: 0%;
  pointer-events: none;
  transition: 0.3s;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 100%;
  pointer-events: none;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
